body {
  background-image: linear-gradient(120deg, #84fab0 10%, #8fd3f4 100%);
}
.col-md-5 {
  margin-top: 100px;
}
input {
  border: 2px solid black !important;
  display: inline !important;
  width: 70% !important;
}
button {
  margin-left: 20px !important;
}
